/*--- Sid Quick Links --- */
#side-quick-links {
  position: fixed;
  left: 0;
  top: 300px;
  text-align: center;
  z-index: 999;
}
#side-quick-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
#side-quick-links li {
  position: absolute;
  left: -153px;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
  -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
  -moz-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
  -o-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
  -ms-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}
#side-quick-links li .content > a {
  width: 40px;
  /* height: 40px; */
  line-height: 82px !important;
  display: block;
  position: relative;
  z-index: 5;
  opacity: 1 !important;
  position: absolute;
  right: 0px;
  top: 0px;
}
#side-quick-links li.call > a {
  background: #ed027b;
}
#side-quick-links li.watsapp > a {
  background: #00c1a1;
}
#side-quick-links li.marker > a {
  background: #fc654c;
}
#side-quick-links li.marker .content > a {
  background: #e45c46;
}
#side-quick-links li.watsapp .content > a {
  background: #4cac05;
}
#side-quick-links li.call .content > a {
  background: #ca0269;
}
#side-quick-links li.marker .sociable {
  margin: 0px 3px;
}
#side-quick-links .fa {
  font-size: 20px;
  color: #fff;
  line-height: 40px;
}
#side-quick-links .content {
  height: 40px;
  width: 193px;
  text-align: middle;
  padding: 0px 10px 0px 10px;
}
#side-quick-links li:hover .content {
  left: 0;
}
#side-quick-links li p {
  margin: 0px;
  line-height: 40px;
  text-align: left;
}

#side-quick-links .call {
  top: 0px;
}
#side-quick-links .call:hover,
#side-quick-links .watsapp:hover,
#side-quick-links .marker:hover {
  left: 0px;
}
#side-quick-links .watsapp {
  top: 81px;
}
#side-quick-links .marker {
  top: 40px;
}
#side-quick-links .call .content {
  background-color: #ed027b;
}
#side-quick-links .watsapp .content {
  background-color: #58cf00;
}
#side-quick-links .watsapp .content {
  overflow: hidden;
}
#side-quick-links .watsapp:hover .content {
  height: auto;
}
#side-quick-links .watsapp .content {
  padding-top: 8px;
}
#side-quick-links .watsapp .content h6 {
  font-size: 17px;
  margin: 0px;
  color: #fff;
  text-align: left;
  line-height: 1;
  font-weight: 900;
  font-family: fangsong;
}
#side-quick-links .watsapp .content p {
  line-height: 1;
  margin-bottom: 4px;
}
#side-quick-links .watsapp .content p:last-child {
  margin-bottom: 0px;
}
#side-quick-links .watsapp:hover .content > a {
  /* height: 92px;
  line-height: 92px !important; */
}
#side-quick-links .marker .content {
  background-color: #fc654c;
}

/* side bar end */
.related-courses .cource-item {
  width: 100%;
  height: 300px;
}
.dls-College {
  color: #e41f05;
  font-family: serif;
  margin-right: -11px;
  padding-top: 27px;
  /* float: right; */
  /* border-bottom: 3px solid; */
}
.course-item img {
  width: 100%;
  height: 300px;
}
.course-item .course-body {
  /* overflow: scroll; */
}
.single-image img {
  /* width: 39%; */
  height: 158px;
}
.chairman-msg {
  text-align: justify;
  font-family: initial;
  font-size: 17px;
}
@media screen and (max-width: 580px) {
  .rs-toolbar {
    display: none;
  }
  @media screen and (max-width: 580px) {
    .dls-College {
      font-size: 25px;
    }
  }
}
.single__service h3:hover {
  color: white;
}
.gallery img {
  border-radius: none !important;
}
#information {
  font-size: 19px;
  font-family: initial;
  text-align: center;
  color: white;
  background: #05264e;
  padding: 9px;
}
.title h6 {
  text-align: center;
  font-family: initial;
  font-size: 16px;
}
.date h6 {
  text-align: center;
  font-family: initial;
  font-size: 14px;
}

/* .aboutarea__headding h2::after {
  display: block;
  content: "";
  width: 25px !important;
  height: 3px !important;
  background: #05264E;
} */
.about img {
  width: 100%;
  height: 300px;
  margin-top: 50px;
}
@media screen and (max-width: 580px) {
  .about img {
    width: 100%;
    height: 200px;
  }
}
/*
================================================
11. Why Choose
================================================
*/
section.why-choose {
  background: #f1f1f1;
  margin: 0 0 60px;
  padding: 75px 0;
}
section.why-choose .choose-list {
  position: relative;
  margin: 0 0 60px 0;
}
section.why-choose .choose-list:last-child {
  margin: 0;
}
section.why-choose .choose-list::after {
  border-bottom: 2px solid #e4c01f;
  bottom: 0;
  content: "";
  left: 44px;
  position: absolute;
  width: 150px;
}
section.why-choose .choose-list::before {
  border-left: 2px solid #e4c01f;
  bottom: 0;
  content: "";
  height: 68px;
  left: 42px;
  position: absolute;
}
section.why-choose .choose-list .icon {
  background: #e4c01f;
  border-radius: 50%;
  display: inline-block;
  height: 88px;
  line-height: 94px;
  text-align: center;
  width: 88px;
  margin: 0 20px 0 0;
  vertical-align: top;
}
section.why-choose .choose-list .icon i {
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  font-size: 24px;
  padding: 24px;
}
section.why-choose .choose-list .fa-leaf {
  bottom: -8px;
  color: #e4c01f;
  font-size: 22px;
  left: 186px;
  position: absolute;
}
section.why-choose .choose-list .list-cnt {
  display: inline-block;
  width: 75%;
}
section.why-choose .choose-list h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}
section.why-choose .choose-list h3 span {
  color: #54c2e7;
  display: block;
}
section.why-choose .choose-list .number {
  bottom: 6px;
  font-family: tahoma;
  font-size: 20px;
  left: 54px;
  position: absolute;
}
section.why-choose .choose-cnt {
  background: #0f345c;
  padding: 40px;
  margin: -115px 0 -120px;
}
section.why-choose .choose-cnt h2 {
  color: #fff;
}
section.why-choose .choose-cnt p {
  color: #dad8d8;
  font-family: "Raleway", sans-serif;
}
section.why-choose .choose-cnt p span {
  color: #1e5639;
}
section.why-choose .choose-cnt .equipmets {
  background: #e4c01f;
  padding: 15px;
  margin: 40px 0 0 0;
}
section.why-choose .choose-cnt .equipmets h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
  color: #000;
}
section.why-choose .choose-cnt .equipmets .item img {
  display: block;
  width: 100%;
  height: auto;
}
section.why-choose .choose-cnt .equipmets .slide-arrows {
  position: absolute;
  top: -55px;
  right: 45px;
}
section.why-choose .choose-cnt .equipmets .slide-arrows a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: solid 1px #000000;
  border-radius: 50%;
  background: none;
  text-align: center;
  text-shadow: none;
  color: #000;
  opacity: 1;
}
section.why-choose .choose-cnt .equipmets .slide-arrows a:hover {
  border: solid 1px #1e5639;
  color: #1e5639;
}
section.why-choose .choose-cnt .equipmets .slide-arrows a span {
  position: static;
  margin: 0;
  font-size: 22px;
  width: auto;
  height: auto;
}
section.why-choose .choose-cnt .equipmets .slide-arrows a.left {
  left: auto;
  right: 0;
}
section.why-choose .choose-cnt .equipmets .slide-arrows a.right {
  left: 6px;
  right: auto;
}

/* new */

#carouselExampleControls {
  padding-left: 0px;
  padding-right: 0px;
}

.top-nav ul {
  height: 5vh;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: end;
  padding-right: 11.5vh;
}

.top-nav ul li {
  padding-right: 30px;
}

.top-nav ul li .disclosure {
  padding: 8px 12px;
  background-color: #e4c01f;
  border-radius: 8px;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0px;
}

.top-nav ul li .apply {
  padding: 8px 12px;
  background-color: #e4c01f;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  letter-spacing: 0px;
}

.top-nav ul li .primary {
  padding: 8px 12px;
  background-color: #6ab2e1;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  letter-spacing: 0px;
}

/* .top-nav ul li .phone {
  margin-right: 0px;
  border-right: 1px solid white;
} */

.top-nav ul li .whats {
  margin-left: 0px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding-left: 25px;
  padding-right: 25px;
}

.top-nav ul li .disclosure:hover {
  background-color: #00a5db;
  transition: 0.5s;
  color: white;
}

.top-nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 13.6px;
  font-weight: 500;
  letter-spacing: 0.1px;
}

.top-nav ul li a:hover {
  color: yellow;
  transition: 0.75s ease;
}

.news-sec h1 {
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
  color: #05264e;
}

.news-sec h2 {
  color: #ffea03;
  font-size: 28px;
  font-weight: 700;
}

.ch-msg {
  margin-top: 13vh;
  background-color: #1e2d43;
}

.ch-msg p {
  color: white;
}

.read-more {
  background-color: #fff055;
  justify-content: center;
  align-items: center;
}

.read-more a {
  border: 1px solid black;
  padding: 5px 5px;
  border-right: none;
  transition: 0.7s;
}

.read-more a:hover {
  border: none;
  transform: scale(1.1);
}

.head-row {
  padding-left: 0px;
}

.mesg {
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.mesg h3 {
  color: #fff055;
}

/* gallery */

.gal-sec {
  background: #0f345c;
  padding-bottom: 1vh;
}

.gallery {
  width: 100%;
  display: flex;
  overflow-x: scroll;
}

.gallery div {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  flex: none;
}

.gallery div img {
  width: 100%;
  border-radius: none;
  /* filter: grayscale(100%); */
  transition: transform 0.5s;
}

.gallery::-webkit-scrollbar {
  display: none;
}

.gallery-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8vh;
}

#backBtn,
#nextBtn {
  cursor: pointer;
  margin: 40px;
  width: 50px;
}

.gallery div img:hover {
  filter: grayscale(0);
  cursor: pointer;
  transform: scale(1.1);
}

.gallery-sec h2 span {
  color: #e4c01f;
  font-weight: 400;
  font-size: 40px;
}

.gallery-sec h2 {
  color: white;
}

.gallery-sec hr {
  color: white;
}

/* gallery end */

.info-sec h2 span {
  color: #e4c01f;
  font-size: 35px;
  font-weight: 400;
}

.card-1 {
  background: #fff;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding-right: 0px;
  padding-left: 0px;
  /* border: 2px solid black; */
  border-radius: 14px;
}

.card-2 {
  background-color: #05264e;
}

.card-top-1 {
  padding-top: 2vh;
  background-color: #e4c01f;
  height: 8vh;
  border-radius: 11px;
}

.card-top-2 {
  background-color: #05264e;
}

.card-top-1 h4 {
  color: white;
}

.info-1 {
  background: #fff;
  margin: 10px;
  padding: 6px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 14px;
}
